tap "nextdns/tap"
tap "qmk/qmk"
tap "vmware-tanzu/carvel"
{{ if eq .chezmoi.os "darwin" -}}
tap "huytd/cask-fonts"
tap "osx-cross/arm"
tap "osx-cross/avr"
{{ end -}}
brew "mise"
brew "ast-grep"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "cmake"
brew "diff-so-fancy"
brew "fastmod"
brew "eza"
brew "fzf"
brew "gh"
brew "git-lfs"
brew "git-spice"
brew "go"
brew "gpg"
brew "huggingface-cli", link: false
brew "imagemagick"
brew "jq"
brew "llvm"
brew "luarocks"
brew "mkcert"
brew "neovim"
brew "tree-sitter-cli"
brew "ripgrep"
brew "tmux"
brew "watchman"
brew "zsh-syntax-highlighting"
brew "fd"
brew "wget"
brew "nextdns"
{{ if eq .chezmoi.os "darwin" -}}
cask "1password"
cask "1password-cli"
cask "font-fira-code"
cask "font-haskplex-nerd"
cask "github"
cask "kitty"
{{ end -}}
